.infoBox{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 .info{
    margin-top: 1.3rem;
    width: 70vw;
    border: 1px solid rgba(238, 130, 238, 0.698);
    padding: 1rem 1.8rem 1.5rem 1.8rem;
    border-radius: 23px; 
    h1{
    padding-left: 3rem;
    font-weight: 100;
    }
    p{
    font-size: 1.8rem;
    font-weight: 100;
    padding-bottom: .9rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin: .7rem;
    }
 }  
 p{
    font-weight: 100;
  }    
  .point{
      color: pink;
      font-size: 2rem;
      margin-top: 3rem;
    }
 .siteBox{
  display: flex;
  align-items:center;
  color: violet;
  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: pink;
    margin-top: 1.8rem;
    p{
      margin-top: 1.8rem;
    }
  }
 .tut{
   margin-top: 5rem;
   padding: 3rem;
   border: 1px solid rgba(238, 130, 238, 0.698);
   border-radius: 50%;
   background-color: rgba(102, 51, 153, 0.77);
 }
 .tut:hover{
   background-color: rgba(238, 130, 238, 0.698);
 }
}
}.ph{
 height: 11%;
}