.pageReports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageReports .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35vw;
  font-size: 1.8rem;
  color: rgba(21, 245, 245, 0.835);
  padding: 3rem;
  margin-top: 4rem;
  background-color: rgba(238, 130, 238, 0.686);
  border-radius: 25px;
}

.pageReports .github h1 {
  text-decoration: none;
}

.pageReports .github:hover {
  background-color: aqua;
  color: darkblue;
}

.pageReports .ph {
  height: 5rem;
}

.pageReports .myWorks {
  margin-top: 5rem;
  font-weight: 100;
}

.pageReports .iframeBox {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageReports .iframeBox iframe {
  padding: .3rem;
}

.pageReports .spiral {
  width: 350px;
  height: auto;
}

.pageReports .spiral:hover {
  cursor: crosshair;
  width: 350px;
  height: auto;
  -webkit-animation: perspect 11s infinite linear;
          animation: perspect 11s infinite linear;
}

@-webkit-keyframes perspect {
  0% {
    -webkit-transform: perspective(200px) rotateY(0deg);
            transform: perspective(200px) rotateY(0deg);
  }
  25% {
    -webkit-transform: perspective(200px) rotateY(90deg);
            transform: perspective(200px) rotateY(90deg);
  }
  50% {
    -webkit-transform: perspective(200px) rotateY(180deg);
            transform: perspective(200px) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(200px) rotateY(270deg);
            transform: perspective(200px) rotateY(270deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(360deg);
            transform: perspective(200px) rotateY(360deg);
  }
}

@keyframes perspect {
  0% {
    -webkit-transform: perspective(200px) rotateY(0deg);
            transform: perspective(200px) rotateY(0deg);
  }
  25% {
    -webkit-transform: perspective(200px) rotateY(90deg);
            transform: perspective(200px) rotateY(90deg);
  }
  50% {
    -webkit-transform: perspective(200px) rotateY(180deg);
            transform: perspective(200px) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(200px) rotateY(270deg);
            transform: perspective(200px) rotateY(270deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(360deg);
            transform: perspective(200px) rotateY(360deg);
  }
}

.pageReports .more {
  text-align: center;
  font-size: .9rem;
  color: #f8c0ff;
}

.footer {
  height: 200px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .toTop {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 23px;
  background-color: rgba(82, 233, 170, 0.537);
  font-size: 1rem;
  color: rgba(148, 11, 16, 0.913);
}

.footer .toTop:hover {
  background-color: rgba(153, 32, 36, 0.351);
  color: rgba(82, 233, 255, 0.628);
  cursor: pointer;
}
/*# sourceMappingURL=Reports.css.map */