.pageReports{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .github{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 35vw;
        font-size: 1.8rem;
        color: rgba(21, 245, 245, 0.835);
        padding: 3rem;
        margin-top: 4rem;
        
        background-color: rgba(238, 130, 238, 0.686);
        border-radius: 25px;
        h1{
            text-decoration: none;
        }
    }
    .github:hover{
        background-color: aqua;
        color: darkblue;
    }
    .ph{
        height: 5rem;
    }
    .myWorks{
        margin-top: 5rem;
        font-weight: 100;
     }
     .iframeBox{ 
        margin-top: 3rem;  
        margin-bottom: 5rem; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     iframe{
    
        padding: .3rem;
     }}
     .spiral{
        width: 350px;
        height: auto;
     }
     .spiral:hover{
        cursor: crosshair;
        width: 350px;
        height: auto; 
        animation: perspect 11s infinite linear;
     } @keyframes perspect{
        0%{transform: perspective(200px) rotateY(0deg) }
        25%{transform: perspective(200px) rotateY(90deg) }
        50%{transform: perspective(200px) rotateY(180deg) }
        75%{transform: perspective(200px) rotateY(270deg) }
        100%{transform: perspective(200px) rotateY(360deg) }
     }

.more{
    text-align: center;
    font-size: .9rem;
    color: rgb(248, 192, 255);
}
}
.footer{
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .toTop{
        border: none;
        width: 100px;
        height: 40px;
        border-radius: 23px;
        background-color: rgba(82, 233, 170, 0.537);
        font-size: 1rem;
        color: rgba(148, 11, 16, 0.913);
    }.toTop:hover{
        background-color: rgba(153, 32, 36, 0.351);
        color: rgba(82, 233, 255, 0.628);
        cursor: pointer;
    }
}